<div class="container">
  <br>
  <div class="row">

    <div class="col mx-auto">

      <img src="http://localhost:3000/{{ details?.profile_img}}" width="30%" height="30%" class="img1"><br>
      <label><img src="assets/img/cam2.png" width="10%" height="10%" class="img2" />
        <input type="file" name="profile_image" accept="image/*" (change)="onFileSelected($event)">
      </label>

      <div *ngIf="marked1">

        <table class="table ">
          <tr>
            
            <td><b>{{ details?.first_name }} {{ details?.last_name }}</b></td>
          </tr>
         
          <tr>
            
            <td><i class="fa fa-envelope info"></i> {{ details?.email }}</td>
          </tr>
          <tr>
            
            <td><i class="fa fa-user info"></i> {{ details?.gender }}</td>
          </tr>
          <tr>
            
            <td><i class="fa fa-phone info"></i> {{ details?.contact_no }}</td>
          </tr>
        </table>

        <div style="text-align: left"><button (click)="showEditProf()" class="btn btn-lg btn-primary">Edit details</button></div>

      </div>
      <br><br><br><br>
      <app-dev-edit-profile *ngIf="marked2"></app-dev-edit-profile>
    </div>
   
    <div class="card">
      <br>
    <div class="col mx-auto">
      <div *ngIf="!showSkill">
        <h5><i class="fa fa-star info"></i> Skills</h5><br>
        <div *ngFor="let skill of skills">
          <h6>{{skill?.skill}}</h6>
        </div>

        <br><br>
        <h5><i class="fa fa-graduation-cap info"></i> Technologies</h5><br>
        <div *ngFor="let techno of technologies">
          <h6>{{techno?.technology}}</h6>
        </div>

        <!-- <button class="btn btn-lg btn-primary show-modal" type="button" data-toggle="modal"
          data-target="#exampleModalCenter1">Update skills and technologies</button> -->
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
          <button class="btn btn-lg btn-primary show-modal" (click)="editSkill()">Update</button>
      </div>
      
      <div *ngIf="showSkill">
        <app-edit-skill></app-edit-skill>
      </div>
      </div>
      
      <!-- <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="show">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

            <app-edit-skill></app-edit-skill>


          </div>
        </div>
      </div> -->

    </div>
    
    
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" *ngIf="show">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <app-skill></app-skill>


    </div>
  </div>
</div>